vscode
.idea
.git
logs
*.log
clitools/nssm
**/*.json
**/*.config
**/*.md
**/*.html
**/*.hbs
**/*.css
**/*.ps1
**/*.sh
**/*.csv
**/*.txt
**/*.php
**/*.conf
**/*.sql
**/*.svg
node_modules/
ecosystem.config.js


# ignoring because i havent figured out what to do with yet
index.tsx
public/*
*.test.tsx